.container-disabled {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.container-enabled {
    width: 250px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.image-enabled {
    width: 40px;
}

.image-disabled {
    max-width: 80%;
}