<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Portfolio</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Work With Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Get Help</h4>
                <ul>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Order Status</a></li>
                  <li><a href="#">Payment Options</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Contact Us</h4>
                <ul>
                  <li class="contactus"><i class="fas fa-envelope"></i> contact@pharmacia.com</li>
                  <li class="contactus"><i class="fas fa-phone"></i> 01 123 456</li>
                  <li class="contactus"><i class="fas fa-map-marker-alt"></i> Beirut, Lebanon</li>
                </ul>
            </div>
            <div class="col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="logo">
                    <img src="../../../assets/fullLogo.png" alt="pharmacia" class="img">
                </div>
            </div>
        </div>
    <div class="copyright">
        <p>All rights reserved &copy; 2021</p>
    </div>
</div>
</footer>