<div *ngIf="!loading" class="container">
  <div class="product-display-container">
    <div class="image-container">
      <img class="product-image" src="{{ baseURL + product.image }}" alt="product image">
    </div>
    <div class="product_info_container">
      <p class="product-name">{{ product.name }}</p>
      <p class="product-description">{{ product.description }}</p>
      <div class="price_info">
        <p *ngIf="price" class="discounted_price">{{ price }} LBP</p>
      <br *ngIf="price">
        <span [ngClass]="{'price': true, 'crossed': price}">{{ product.price_per_unit }} LBP</span>
        <span *ngIf="price" class="discount">-{{ product.discount }}%</span>
      </div>
      <mat-form-field appearance="standard">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" [(ngModel)]="orderQuantity" min="0">
        </mat-form-field>
        <button [disabled]="addButtonDisabled" class="add-order-btn" mat-flat-button (click)="addToOrders()">Add to Orders</button>
        <p class="total">Total: {{ total }} LBP</p>
    </div> 
  </div>
  <div *ngIf="!ratingDisabled" class="add-rating-container">
    <button mat-flat-button [disabled]="submitDisabled" (click)="submitRating()">Submit</button>
    <p>Rate and review this product</p>
    <app-star-rating (rated)="onRated($event)" [enabled]="true"></app-star-rating>
    <mat-form-field appearance="standard">
      <mat-label>Review</mat-label>
      <textarea [(ngModel)]="review" matInput></textarea>
    </mat-form-field>
  </div>
  <div class="ratings-container">
    <div class="overall-rating-container">
      <span class="overall-rating">{{ product.overall_rating }}</span><span>/5</span>
      <br>
      <h1>Rating</h1>
    </div>
    <div>
      <div class="reviews-container" *ngFor="let rating of allRatings; last as isLast">
        <div *ngIf="rating.review != null">
          <div class="name-rating-container">
              <span>{{ rating.user_name }}</span>
              <app-star-rating [rating]="rating.rating_number"></app-star-rating>
          </div>
          <br>
          <div class="review-container">
            <span>{{ rating.review }}</span>
          </div>
        </div>
        <div *ngIf="!isLast" class="divider"></div>
      </div>
    </div>
  </div>
</div>
