<div class="container">
    <div class="information">
        Product: {{ data.order.product.name }}
    </div>
    <div class="information">
        Ordered by: {{ data.order.user.first_name }} {{ data.order.user.last_name }}
    </div>
    <div class="information">
        phone: {{ data.order.user.phone_number }}
    </div>
    <div class="pricing">
        <p style="margin-bottom: 20px;">{{ data.order.quantity }} X {{ data.order.price_per_unit }} LBP</p>
        <p>Total: {{ data.order.quantity * data.order.price_per_unit }} LBP</p>
    </div>
    <div>
        <ul>
            <li *ngIf="datetime('placed')">
                {{ datetime('placed') }}
            </li>
            <li *ngIf="datetime('checked')">
                {{ datetime('checked') }}
            </li>
            <li *ngIf="datetime('accepted')">
                {{ datetime('accepted') }}
            </li>
            <li *ngIf="datetime('rejected')">
                {{ datetime('rejected') }}
            </li>
            <li *ngIf="datetime('delivered')">
                {{ datetime('delivered') }}
            </li>
        </ul>
    </div>
</div>
