.container {
    height: 100%;
    overflow-y: hidden;
}

.navbar {
  height: 39px;
    background-color: #05386B;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    margin-bottom: 40px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;
    
    /* color: white; */
}

.navbar a div {
  text-align: center;
  padding: 5% 0 5% 0;
}

.content {
  height: calc(100vh - 39px);
    overflow-y: scroll;
}

/* width */
/* ::-webkit-scrollbar {
    width: 12px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */