<div class="container">
  <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Waiting for accept">
        <div class="tab-container">
          <div class="orders-new-container">
            <app-order-item *ngFor="let order of waitAOrders" [order]="order" (accepted)="acceptOrder($event)" (rejected)="rejectOrder($event)"></app-order-item>
         </div>
        </div>
      </mat-tab>
      <mat-tab label="Waiting for delivery">
        <div class="orders-new-container">
          <app-order-item *ngFor="let order of waitDOrders" [order]="order" (deliver)="deliverOrder($event)"></app-order-item>
       </div>
      </mat-tab>
      <mat-tab label="Delivered">
        <app-order-item *ngFor="let order of deliveredOrders" [order]="order"></app-order-item>
      </mat-tab>
      <mat-tab label="Rejected">
        <app-order-item *ngFor="let order of rejectedOrders" [order]="order" (deliver)="deliverOrder($event)"></app-order-item>
      </mat-tab>
    </mat-tab-group>
</div>


