<div class="container">
    <div class="navbar">
      <a routerLink="home" routerLinkActive="active">
        <div class="nav-button"><span>Home</span></div>
      </a>
      <a routerLink="profile" routerLinkActive="active">
        <div class="nav-button"><span>Profile</span></div>
      </a>
      <a routerLink="orders" routerLinkActive="active">
        <div class="nav-button"><span>Orders</span></div>
      </a>
      <a routerLink="buy_later" routerLinkActive="active">
        <div class="nav-button"><span>Buy Later</span></div>
      </a>
  </div>
    <div class="content"><router-outlet></router-outlet></div>
  </div>
