<div class="container">
  <div class="navbar">
    <div class="grid-item">
      <a (click)="switchRoute('home')" routerLink="home" routerLinkActive="active">
        <div [@selectUnselect]="urlPath === 'home'? 'selected' : 'unselected'" class="nav-button"><span>Home</span>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a (click)="switchRoute('profile')" routerLink="profile" routerLinkActive="active">
        <div [@selectUnselect]="urlPath === 'profile'? 'selected' : 'unselected'" class="nav-button">
          <span>Profile</span>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a (click)="switchRoute('orders')" routerLink="orders" routerLinkActive="active">
        <div [@selectUnselect]="urlPath === 'orders'? 'selected' : 'unselected'" class="nav-button"><span>Orders</span>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a (click)="switchRoute('buy_later')" routerLink="buy_later" routerLinkActive="active">
        <div [@selectUnselect]="urlPath === 'buy_later'? 'selected' : 'unselected'" class="nav-button"><span>Buy
            Later</span>
        </div>
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>