.container {
    height: 100vh;
    overflow-y: hidden;
}
.navbar{
    height: 39px;
    background-color: #05386B;
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    margin-bottom: 40px;
}
.grid-item {
    text-align: center;
  }
 
.grid-item a {   
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.grid-item a div{
    text-align: center;
    padding: 5% 0 5% 0;  
}