<div *ngIf="!loading1 && !loading2" class="container">
    <div class="content-container">
      <h1 class="sub-title">Account information</h1>
      <div class="divider"></div>
      <div class="inner-content">
        <p class="field-title">Email</p>
        <p class="information">{{ user.email }}</p>
        <p class="field-title">Password</p>
        <p class="information">
          *************</p>
      </div>
    </div>
    <div class="content-container">
      <h1 class="sub-title">Store information</h1>
      <div class="divider"></div>
      <div class="inner-content">
        <p class="field-title">Name</p>
        <p class="information store_name">
          {{ store.name
          }}
        </p>
        <p class="field-title">City</p>
        <p class="information">
          {{ user.city
          }}
        </p>
        <p class="field-title">Street</p>
        <p class="information">
          {{ user.street
          }}
        </p>
        <p class="field-title">Location details</p>
        <p class="information">
          {{ user.location
          }}
        </p>
      </div>
    </div>
    <div class="content-container">
      <h1 class="sub-title">Banking information</h1>
      <div class="divider"></div>
      <p class="field-title">Account number</p>
        <p class="information">
          ************{{ cardNumber
          }}
        </p>
        <p class="field-title">Account holder name</p>
        <p class="information">
          {{ store.account_holder_name
          }}
        </p>
        <p class="field-title">Bank name</p>
        <p class="information">
          {{ store.name_of_bank
          }}
        </p>
    </div>
</div>
