<div class="container" *ngIf="reset">


    <div class="tilte-container">
    </div>
    <div>
    <h1 class="login-title">Login</h1>
    <div class="formContainer">
        <form [formGroup]="loginForm" >
            <span class="error" *ngIf="loginFailed">Invalid credentials, try again.</span>
            <mat-form-field class="formField" appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email@example.com" formControlName="email" >
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Wrong email format</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="formField" appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
            </mat-form-field>
        </form>
<!-- 
        <div class="Checkbox">
            <mat-checkbox  [(ngModel)]="StayLoggedIn">Stay logged in</mat-checkbox>
        </div> -->

        <button (click)="login()" class="login-button" mat-raised-button>Login</button>

        <div class="Signup-label">
             <p>New to Pharmacia? <a routerLink="/signup">Signup</a> </p>
        </div>
    </div>
    </div>



</div>