<div class="container">
    <Label class="login-title">Login</Label>
    <form [formGroup]="loginForm" class="formContainer">
        <mat-form-field class="formField" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" type="email" ngModel [email]="true">
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        <br />
        <button class="login-button" mat-raised-button>Login</button>

    </form>
</div>