<mat-card class="container">
    <img *ngIf="product.image != null" class="product_image" mat-card-image src="{{ baseUrl + product.image }}" alt="product image">
    <img *ngIf="product.image == null" class="product_image" mat-card-image src="../../../assets/images/default.jpg" alt="default image">
    <mat-card-content>
      <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
      <mat-card-subtitle class="product-price">
        <span *ngIf="price" class="discounted_price">{{ price }} LBP</span>
        <span [ngClass]="{'crossed': price}">{{ product.price_per_unit }} LBP</span>
        <span *ngIf="price" class="discount">-{{ product.discount }}%</span>
      </mat-card-subtitle>
      <div style="display: grid;grid-template-columns: 92% 8%;">
        <div>
          <app-star-rating [rating]="product.rating"></app-star-rating>
        </div>
        <div>
          <mat-icon aria-hidden="false" aria-label="icon" class="more-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button class="menu-button" mat-menu-item (click)="updateClicked.emit(product)">Update</button>
            <button class="menu-button" mat-menu-item (click)="deleteClicked.emit(product)">Delete</button>
          </mat-menu>
        </div>
      </div>
    </mat-card-content>
  </mat-card>