<mat-card class="container">
    <img class="product_image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
      <mat-card-subtitle class="product-price">
        <span *ngIf="price" class="discounted_price">{{ price }} LBP</span>
        <span [ngClass]="{'crossed': price}">{{ product.price }} LBP</span>
        <span *ngIf="price" class="discount">-{{ product.discount }}%</span>
      </mat-card-subtitle>
      <app-star-rating [rating]="product.rating"></app-star-rating>
    </mat-card-content>
  </mat-card>