.main-container {
    background: white;
    height: 100vh;
}

.sub-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.pick-container {
    padding: 5% 10% 10% 10%;
}

.signup-title{
    font-weight: bold;
    font-size: 100px;
    color:rgb(51, 48, 48);
    padding: 2% 0 5% 0;
    font-family: 'Montserrat', sans-serif;
}

.button-container {
    border: solid 4px rgba(0, 0, 0, 0);
    border-radius: 15px;
    margin: 5% 15% 5% 0;
    display: grid;
    grid-template-columns: 25% 75%;
    cursor: pointer;
    background: transparent;
    border-radius: 15px;
    padding: 5%;
    background-color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button-border {
    border: solid 4px #5CDB95;
}

.role-title {
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.role-description {
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 5%;
}
 
.form-container {
    background-color: white;
    margin: 8% 20% 10% 0;
    border-radius: 15px;
    height: 780px;
    width: 680px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}