<div class="container">
    <form [formGroup]="productForm">
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type.id">{{ type.title }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <input type="file" (change)="fileBrowserHandler($event)"/>
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Price</mat-label>
            <input accept="image/*" matInput type="number" placeholder="20000 LBP" formControlName="price" min="0">
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" placeholder="100" formControlName="quantity" min="100">
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="outline">
            <mat-label>Discount</mat-label>
            <input matInput type="number" placeholder="0%" formControlName="discount" min="0">
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Categories</mat-label>
          <mat-select formControlName="categories" multiple>
            <mat-option *ngFor="let category of allCategories" [value]="category.id">{{category.description}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field class="formField" appearance="outline">
          <mat-label>Tags</mat-label>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeTag(tag)">
              {{tag.description}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="search tag..."
              #tagInput
              [formControl]="tagCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addTag($event)"
              (keydown)="_filterTag(tagInput.value)"
              (focus)="_filterTag(tagInput.value)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
            <mat-option *ngFor="let tag of filteredTags" [value]="tag">
              {{tag.description}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      <br />
        <button class="add-button" mat-raised-button (click)="updateProduct()">Add</button>

    </form>
</div>
