.content {
    padding: 20px 40px 20px 40px;
}

.title {
    font-size: 40px;
    text-align: center;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
}

.message {
    font-size: 25px;
    line-height: 150%;
    font-family: 'Ubuntu', sans-serif;
}

button {
    font-size: 23px;
    padding: 6px 15px 6px 15px;
    float: right;
    font-family: 'Ubuntu', sans-serif;
}

.cancel_btn {
    margin-right: 10px;
    background-color: #37d3cb;
}

.delete_btn {
    margin-right: 10px;
    background-color: #fd2f2f;
}