<div [ngClass]="{'container': true, 'invisible': !alive, 'container_if_new': new}" [@kill]="alive? 'alive' : 'dead'">
    <div class="image-contianer">
        <img class="product_image" src="{{ baseUrl + order.product.image }}" alt="product image">
    </div>
    <div class="information-container">
        <h1 class="product-name">{{ order.product.name }}</h1>
        <h1 class="datetime">{{ datetime }}</h1>
        <h1 class="total">total cost: {{ order.quantity * order.price_per_unit }} LBP</h1>
    </div>
    <div class="action" *ngIf="(order.state === 'new' || order.state === 'wait_a' || order.state === 'wait_d') && role === 'BYR'">
        <div>
            <img style="padding: 5px;" class="deliver" src="../../../assets/delete.png" (click)="cancel()" alt="">
        </div>
    </div>
    <div class="action" *ngIf="order.state === 'wait_a' && role === 'SLR'">
        <div>
            <img class="accept" (click)="accept();$event.stopPropagation();" src="../../../assets/accept.png" alt="">
        </div>
        <div>
           <img class="reject" (click)="reject();$event.stopPropagation();" src="../../../assets/reject.png" alt=""> 
        </div>
    </div>
    <div class="action" *ngIf="order.state === 'wait_d' && role === 'SLR'">
        <div>
            <img style="padding: 5px;" class="deliver" src="../../../assets/deliver.png" (click)="deliver();$event.stopPropagation();" alt="">
        </div>
    <div>
</div>
