.container{
    padding: 20px 50px 20px 50px;
    font-size:18px;
    height: 110vh
}

.formField{
    width:100%;
    margin-top: 12px;
}

.add-button{
    background-color: red;
    font-size: 18px;
    color: white;
}