.container {
    padding: 5%;
}

.title {
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5%;
}

mat-form-field {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.long_formField {
    width: 100%;
}

.short_formField {
    width: 48%;
}

.action button {
    float: right;
    font-size: 20px;
    color: white;
    padding: 0.8% 3% 0.8% 3%;
}

.cancel-button {
    background-color: #ff3838;
}

.add-button {
    margin-left: 2%;
    background-color: #5CDB95;
}



