/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    border-radius: 15px !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128); 
}

.mat-tooltip {
  font-size: 20px !important;
}