<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="New">
          <div *ngIf="newOrders.length === 0" class="no-orders-container">
            <img src="../../../assets/notfound.png" alt="">
            <h1>No Orders</h1>
          </div>
          <div class="new-container" *ngIf="newOrders.length != 0">
            <div class="orders-new-container" *ngIf="newOrders.length != 0">
              <app-order-item (click)="onOrderClick(order)" [new]="true" *ngFor="let order of newOrders" [order]="order" (canceled)="deleteOrder($event)"></app-order-item>
           </div>
            <div class="checkout-container">
              <p class="checkout-info">You have {{ numberOfNewOrders }} orders</p>
              <p class="checkout-info">Total: {{ total }} LBP</p>
              <br>
              <p class="checkout-info">Payment method</p>
              <mat-select [(ngModel)]="paymentMethod">
                <mat-option value="cash">Cash on delivery</mat-option>
                <mat-option value="card">Credit Card</mat-option>
              </mat-select>
              <br>
              <button mat-flat-button (click)="checkOut()" [disabled]="checkoutDisabled">Checkout</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Waiting for accept">
          <div *ngIf="waitAOrders.length == 0" class="no-orders-container">
            <img src="../../../assets/notfound.png" alt="">
            <h1>No Orders</h1>
          </div>
          <div *ngIf="waitAOrders.length != 0" class="tab-container">
            <app-order-item (click)="onOrderClick(order)" *ngFor="let order of waitAOrders" [order]="order" (canceled)="deleteOrder($event)"></app-order-item>
         </div>
        </mat-tab>
        <mat-tab label="Waiting to be delivered">
          <div *ngIf="waitDOrders.length == 0" class="no-orders-container">
            <img src="../../../assets/notfound.png" alt="">
            <h1>No Orders</h1>
          </div>
          <div *ngIf="waitDOrders.length != 0" class="tab-container">
            <app-order-item (click)="onOrderClick(order)" *ngFor="let order of waitDOrders" [order]="order" (canceled)="deleteOrder($event)"></app-order-item>
         </div>
        </mat-tab>
        <mat-tab label="Delivered">
          <div *ngIf="deliveredOrders.length == 0" class="no-orders-container">
            <img src="../../../assets/notfound.png" alt="">
            <h1>No Orders</h1>
          </div>
          <div *ngIf="deliveredOrders.length != 0" class="tab-container">
            <app-order-item (click)="onOrderClick(order)" *ngFor="let order of deliveredOrders" [order]="order"></app-order-item>
         </div>
        </mat-tab>
        <mat-tab label="Rejected">
          <div *ngIf="rejectedOrders.length == 0" class="no-orders-container">
            <img src="../../../assets/notfound.png" alt="">
            <h1>No Orders</h1>
          </div>
          <div *ngIf="rejectedOrders.length != 0" class="tab-container">
            <app-order-item (click)="onOrderClick(order)" *ngFor="let order of rejectedOrders" [order]="order"></app-order-item>
         </div>
        </mat-tab>
      </mat-tab-group>
</div>
<!-- <app-footer></app-footer> -->
