::ng-deep .mat-tab-label {
    font-weight: 500; 
    font-family: 'Montserrat', sans-serif;
    /* color:black !important; */
    font-size: 18px;
    /* padding: 0 10% 0 10% !important; */
    opacity: 1 !important;
}

/* :ng-deep .mat-tab-link {
    color:rgb(255, 0, 0) !important;
} */

::ng-deep .mat-ink-bar {
   background-color: #05386B !important;
}

::ng-deep .mat-tab-label-active {
    font-weight: 500; 
    font-family: 'Montserrat', sans-serif;
   color: #38db81 !important;
   /* font-size: 25px; */
   opacity: 1 !important;
}


.new-container {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 20px 15% 20px 15%;
}

.no-orders-container {
    padding: 5% 5% 0 5%;
    text-align: center;
}

.no-orders-container img {
    width: 15%;
}

.no-orders-container h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.orders-new-container {
    padding: 0 5% 0 5%;
}

.tab-container {
    padding: 20px 25% 20px 25%;
    height: 100%;
}

.checkout-container {
    background-color: white;
    margin: 5% 15% 5% 0;
    border-radius: 15px;
    padding: 6%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;
}


mat-select {
    margin-top: 2%;
    font-size: 25px;
    border-bottom: solid black 1px;
    padding-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
}

mat-option {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.checkout-info {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}

mat-form-field {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 600;
    width: 100%;
}

button {
    font-size: 25px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: 500;
    padding: 1% 5% 1% 5%;
    background-color: #5CDB95;
    color: white;
    margin-top: 5%;
}

@media only screen and (min-width: 900px) {
    .tab-container {
        padding: 20px 7% 20px 7%;
    }

    .no-orders-container img {
        width: 20%;
    }
}

@media only screen and (min-width: 1000px) {
    .tab-container {
        padding: 20px 9% 20px 9%;
    }
}

@media only screen and (min-width: 1100px) {
    .tab-container {
        padding: 20px 11% 20px 11%;
    }

    .no-orders-container img {
        width: 18%;
    }
}

@media only screen and (min-width: 1200px) {
    .tab-container {
        padding: 20px 13% 20px 13%;
    }

    .no-orders-container img {
        width: 18%;
    }
}

@media only screen and (min-width: 1300px) {
    .tab-container {
        padding: 20px 15% 20px 15%;
    }

    .no-orders-container img {
        width: 15%;
    }
}

@media only screen and (min-width: 1400px) {
    .tab-container {
        padding: 20px 17% 20px 17%;
    }
}

@media only screen and (min-width: 1500px) {
    .tab-container {
        padding: 20px 19% 20px 19%;
    }
}

@media only screen and (min-width: 1600px) {
    .tab-container {
        padding: 20px 21% 20px 21%;
    }
}

@media only screen and (min-width: 1700px) {
    .tab-container {
        padding: 20px 23% 20px 23%;
    }
}

@media only screen and (min-width: 1800px) {
    .tab-container {
        padding: 20px 25% 20px 25%;
    }
}

